<!-- About Section -->
<style>
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
</style>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">“நோயற்ற வாழ்வே குறைவற்ற செல்வம்”</h3>
                </div>
            </div>
            <div class="row">
              <div class="container">
                <div class="col-lg-12">
                  <div class="container"
                        <li>
                              <h1 style ="text-align:center; ">History</h1>
                              <br>
                              <p style="text-align:justify; font-size: 125%;"> RP MERCHANDISERS came into existence from 2017. We started our journey as a small shop from supplying finest quality of rice varieties in our vicinity, with aim of establishing unique brand at global level. From the beginning to till now, we always concerned about social, ethical, health standard of society without any compromisation.</p>
                        </li>
                  </div>
                  <div class="container"
                        <li>
                              <h1 style ="text-align:center; ">Mission</h1>
                              <br>
                              <p style="text-align:justify; font-size: 125%;"> RP MERCHANDISERS devoted to deliver finest quality of rice varieties, with high preference to hygiene and healthful living of people at affordable prices.</p>
                        </li>
                  </div>
                  <div class="container"
                        <li>
                              <h1 style ="text-align:center; ">VISION</h1>
                              <br>
                              <li style="text-align:justify; font-size: 125%;"> To make available high quality rice varieties worldwide.</li>
                              <li style="text-align:justify; font-size: 125%;"> To provide best services to customers. </li>
                              <li style="text-align:justify; font-size: 125%;"> Committed to national & society health welfare.</li>
                        </li>
                  </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
